<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devilwwj.activitylaunchmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SecondActivity" android:launchMode="singleTask"
            android:taskAffinity="com.devilwwj.task"

            />

        <activity android:name=".ThirdActivity"
            android:configChanges="screenLayout"
            android:launchMode="singleTask"
            android:taskAffinity="com.devilwwj.task2"
            >
            <intent-filter>
                <action android:name="com.devilwwj.action.c"/>
                <action android:name="com.devilwwj.action.d"/>
                <category android:name="com.devilwwj.category.c"/>
                <category android:name="com.devilwwj.category.d"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            </activity>

    </application>

</manifest>
